{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "jest": true
    },
    "extends": "eslint:recommended",
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        // "parser": "@babel/eslint-parser"
        "parser": "any-eslint-parser"
    },
    
    "rules": {
    }
}

// {
//     "root": true,
//     "parser": "@typescript-eslint/parser",
//     "plugins": [
//       "@typescript-eslint"
//     ],
//     "extends": [
//       "eslint:recommended",
//       "plugin:@typescript-eslint/eslint-recommended",
//       "plugin:@typescript-eslint/recommended"
//     ]
//   }